{% extends "base.html"%}

{% block content %}

<div class="container mt-5 mb-5">



    <h3 class="mb-3">Read the best blog in town</h3>
    <div class="row">


        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img class="card-img-top" src="https://media.timeout.com/images/105892648/1920/1080/image.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">This is the Best Hotel in earth</h5>
                  <p class="card-text">Read about this hotel in Dubai...</p>
                  
                  
                  <button class="btn btn-success text-white">
                    <i class="bi bi-hand-thumbs-up"></i>
                  </button>
                  <a href="#" class="btn btn-primary">Read about it</a>
                </div>
              </div>
        

        </div>


        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img class="card-img-top" src="https://contentstatic.techgig.com/thumb/msid-93158297,width-460,resizemode-4/Oracle-to-discontinue-extended-support-for-Java-7.jpg?28608" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Java made printing Hello World! easy</h5>
                  <p class="card-text">Read about the new update of java...</p>
                  <button class="btn btn-success text-white">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </button>
                  <a href="#" class="btn btn-primary">Read about it</a>
                </div>
              </div>
        

        </div>


        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img class="card-img-top" src="https://media.istockphoto.com/id/1452604857/photo/businessman-touching-the-brain-working-of-artificial-intelligence-automation-predictive.jpg?s=1024x1024&w=is&k=20&c=Mz2G15YAcE09_ywaRc43p9jmG2urk69uqyopTbaG4cI=" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Is AI danger?</h5>
                  <p class="card-text">Read about the effects of AI...</p>
                  <button class="btn btn-success text-white">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </button>
                  <a href="#" class="btn btn-primary">Read about it</a>
                </div>
              </div>
        

        </div>

       
    </div>

</div>


{% endblock %}